@model PaginatedList<EFmodels.UserModel>
@* @{
    Layout = "~/Views/Shared/_Layout.cshtml";
} *@
<form asp-action="ShowUser" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name or email: <input type="text" name="searchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn editordelete btn-primary" />
        </p>
        <p style="color:blue;font-size:15px;"><i>This table has more than 10000 demo data</i></p> 
    </div>
</form>
<section id="about" class="wow fadeInUp">
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"><b>S.N.</b></th>
                    <th scope="col"><b><a asp-action="ShowUser" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["NameSortParm"]">Name</a></b></th>
                    <th scope="col"><b><a asp-action="ShowUser" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["EmailSortParm"]">Email</a></b> </th>
                    <th scope="col"><b>Phone Number</b> </th>
                    <th scope="col"><b>Action</b> </th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @{
                    var i = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.UserFullName</td>
                            <td>@item.UserEmailID</td>
                            <td>@item.UserPhone</td>
                            <td>
                                <button class="btn btn-danger" data-bind="@item.UserID" id="btnDeleteUser">Delete User</button>
                            </td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
        @{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a 
asp-action="ShowUser"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn editordelete btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="ShowUser"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn editordelete btn-primary @nextDisabled">
    Next
</a>
    </div>
</section>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
$(function(){
    $("#tableBody").on("click","#btnDeleteUser",function(){
        var UserID = $(this).attr('data-bind');
        $.ajax({
            url: '/User/DeleteUser?id='+UserID,
            type: "get",
            async: false,
            success: function(){
                alert("User Deleted Successfully");
                window.location.href="/User/ShowUser";
            },
            error: function(){
                alert("Error!");
            }
        });
    }); 
});
</script>